* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background: rgb(153, 153, 153);
  color: #d0d7df;
}

h1 {
  margin: 25px;
  color: white;
}

/* Input Container */

#link-add {
  background: black;
  color: #d0d7df;
  border: 0;
  height: 25px;
  width: 89%;
}

#button-add {
  background: black;
  color: #d0d7df;
  height: 25px;
  width: 10%;
  border: 0;
  border-radius: 0;
}

/* Information Container */

.information-container {
  width: 600px;
}

#table-information {
  margin-top: 20px;
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table-information td, #table-information th {
  border: 1px solid black;
  padding: 8px;
}

#table-information tr:nth-child(even){background-color: #252525;}

#table-information tr:hover {background-color: #343434;}

#table-information th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}